[submodule "lib/ganache"]
	path = lib/ganache
	url = git@github.com:explorecatena/ganache.git
	branch = catena
[submodule "lib/remix-ide"]
	path = lib/remix-ide
	url = git@github.com:explorecatena/remix-ide.git
	branch = catena
