{% extends 'partials/base.njk' %}

{% set pdfPath = 'static/docs.pdf' %}

{% block content %}
  {{ navbar(true, true) }}
  <object data="{{pdfPath}}" type="application/pdf" class="fullscreen">
    <embed src="{{pdfPath}}" type="application/pdf" />
  </object>
{% endblock %}