<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Catena Blockchain Development Suite">
    <meta name="author" content="Bitaccess Inc">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d21821">
    <meta name="theme-color" content="#ffffff">

    <title>Catena Blockchain Development Suite</title>

    <link href="static/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="https://use.fontawesome.com/49e04167cc.js"></script>
  </head>
  <body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img class="navbar-brand-icon" src="/img/catena-logo.svg" alt="Logo">
          <span class="brand-text">
            <div class="brand-maintext">Catena</div>
            <div class="brand-subtext">Blockchain Development Suite</div>
          </span>
        </a>
        <button type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse">
          <ul class="ml-auto navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/remix">Remix</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/ganache">Ganache</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/docs">Docs</span></a></li>
            <li class="nav-item"><a href="#" class="nav-link switch-language">Français</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
