html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar.fixed-top {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #dadada;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-top: 64px; /* navbar height */
}

.fullheight {
  min-height: 100vh;
  padding-top: 64px;
}

.square {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* = width for a 1:1 aspect ratio */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.remix-logo { background-image: url('/static/img/remix-logo.svg'); }
.ganache-logo { background-image: url('/static/img/ganache-logo.svg'); }
.book-icon { background-image: url('/static/img/book-icon.svg'); }